:root {
  --brown: #563B30;
  --yellow: #EBCB66;
  --blue: #334670;
  --orange: #F56912;
}

* {
  box-sizing: border-box;
  font-family: Garamond;
  color: papayawhip;
}

style { display: none; }

body, html, #app {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
  color: var(--yellow);
}

a:hover   { text-decoration: underline; }
a:visited {color: var(--yellow)}


ul, li {
  list-style: none;
  list-style-position: outside;
  color: var(--yellow);
}

header {
  background-color: var(--brown);
}

.sidebar {
  background-color: var(--brown);
}

.navLink {
  color: var(--yellow);
}

.boss-bonfire {
  color: var(--orange);
}

.bonfire-title {
  text-align: center;
  color: var(--yellow);
}
