// @include font-face(Garamond, assets/fonts/EB_Garamond);

@font-face {
  font-family: OptimusPrinceps;
  src: url(assets/fonts/Optimus_Princeps/OptimusPrinceps.ttf);
}

@font-face {
  font-family: Garamond;
  src: url(assets/fonts/EB_Garamond/EBGaramond-regular.ttf);
}
