.container {
	display: grid;
	grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
	grid-template-rows: 10vh 1fr 10vh;
	grid-template-columns: 10vw 1fr;
  height: 100%;
  // margin: 10px;
}

header.header {
  grid-area: header;
  padding-left: 20px;
}

.main {
  padding-left: 20px;
  overflow-y: auto;
}

aside.sidebar {
  grid-area: nav;
}

footer.footer {
  grid-area: footer;
  padding-left: 20px;
}

