.container {
	display: grid;
	grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
	grid-template-rows: 10vh 1fr 10vh;
	grid-template-columns: 15vw 1fr;
  height: 100%;
  // margin: 10px;
}

header.header {
  grid-area: header;
  padding-left: 20px;
}

.main {
  padding-left: 20px;
}

aside.sidebar {
  grid-area: nav;
}

footer.footer {
  grid-area: footer;
  padding-left: 20px;
}

// header,
// main,
// aside,
// footer {
//   background: #eaeaea;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
