html, body, .flex-container {
	margin : 0px;
	padding: 0px;
	// height : 100%;
}

.flex-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between; // Horizontal
	// align-items: stretch;    // Vertical (cross-axis)
	height: 100vh;
}

header {
  margin : 0px;
	padding: 0px;
}

aside {}

.main-body {
	flex-grow : 1;
}

footer {
}
